* {
    box-sizing: border-box;
}

body {
    font-family: "Harmonia Sans Pro Cyr";
}

ul {
    list-style-type: none;
}

.pd-no {
    padding: 0;
}

.mg-no {
    margin: 0;
}

$primary-color:#ff5911;
//FOR SECTION TITLE
.page__title {
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
    .page__name {
        font-size: 36px;
        font-family: "Harmonia Sans Pro Cyr";
        font-weight: 600;
        span {
            color: $primary-color;
        }
    }
    .page__text {
        font-size: 16px;
        line-height: 30px;
        color: #495662;
    }
}

.bg-white {
    background-color: #ffffff;
}

//HEADER
.my__navigator {
    .nav__first__row {
        padding-bottom: 20px;
        padding-top: 20px;
        .nav__con__list {
            padding-left: 0;
            i {
                color: $primary-color;
                padding-right: 5px;
            }
            li {
                display: inline-block;
                padding-right: 15px;
                a {
                    color: #34404b;
                }
            }
        }
        .nav__social__list {
            text-align: right;
            li {
                display: inline-block;
                padding-right: 10px;
                a {
                    color: #34404b;
                }
            }
        }
    }
    .nav__second__row {
        background-image: url("../img/Bghead.png");
        padding-bottom: 30px;
        .mylogo {
            padding-right: 40px;
        }
        .mobile__icon--bars__div {
            display: none;
            position: absolute;
            top: 15%;
            right: 0;
            width: 45px;
            height: 36px;
            .mobile__icon--bars {
                width: 35px;
                height: 2px;
                background-color: #9baed4 !important;
                margin: 6px 0;
                display: block;
                transition: all .2s ease;
            }
        }
        .menu__list {
            li {
                a {
                    font-size: 16px;
                    padding-right: 27px;
                    color: #b8bcc0;
                    font-family: "Harmonia Sans Pro Cyr";
                }
            }
            .active {
                a {
                    color: $primary-color;
                }
            }
        }
        .serach__list {
            font-size: 18px;
            li {
                a {
                    position: relative;
                    color: #b8bcc0;
                    .shop__bucket {}
                    .shop__bucket__number {
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        border-radius: 9px;
                        background-color: #34404b;
                        top: -6px;
                        left: 8px;
                        display: block;
                        color: #ffffff;
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .mobile__wrap {
        overflow-x: hidden;
        right: -120%;
        position: fixed;
        top: 0;
        transition: all .5s cubic-bezier(1, 0, 0, 1);
        width: 100vw;
        height: 100vh;
        background: #b7b8bb;
        background-size: cover;
        z-index: 3;
        .mobile__wrap__close {
            position: absolute;
            right: 0;
            background-image: url("../img/close.svg");
            background-repeat: no-repeat;
            background-position: center;
            display: block;
            width: 75px;
            height: 75px;
            background-size: 20px;
            cursor: pointer;
        }
        .mobile_wrap_list {
            padding: 75px 0 20px;
            li {
                a {
                    width: 100%;
                    border-radius: 0;
                    padding: 7px 25px !important;
                    font-size: 24px;
                    color: #ff5911;
                    font-weight: 300;
                    transition: all .3s ease-out;
                }
                &:hover {
                    background: rgba(255, 255, 255, .15);
                }
            }
        }
        .mobile__wrap__right__menu {
            padding: 25px;
            padding-bottom: 0;
            .right__menu__list {
                padding-left: 0;
                list-style: none;
                li {
                    margin: 0 0 6px;
                    a {
                        font-size: 15px;
                        color: #ff5911;
                        text-decoration: underline;
                        font-weight: 300;
                    }
                }
            }
        }
        .mobile__wrap__footer {
            position: relative;
            .mobile__wrap__last__937 {
                opacity: .5;
                position: absolute;
                bottom: -66px;
                .last__list {
                    display: block;
                    list-style-type: none;
                    margin-bottom: 0;
                    li {
                        display: inline-block; // font-size: 16px;
                        padding: 0;
                        margin: 0 25px 0 0;
                        a {
                            color: #fff !important;
                            text-decoration: underline; // margin-right: 5px;
                            &:hover {
                                text-decoration: none;
                                cursor: pointer;
                            }
                        }
                    }
                }
                .last_social_list {
                    list-style-type: none;
                    display: inline-block;
                    li {
                        margin: 0 10px 0 0;
                        display: inline-block;
                        a {
                            color: #fff !important;
                            width: 20px;
                            height: 20px;
                            background-size: auto 15px;
                            opacity: .5;
                            transition: all .3s ease-out;
                            background-position: center center;
                            background-repeat: no-repeat;
                            font-size: 17px;
                        }
                    }
                } // .last__937--abs {
                //     padding: 25px;
                //     position: absolute;
                //     bottom: 40px;
                //     left: 0;
                //     width: 100%;
                // }
            }
            .last__call {
                // position: absolute;
                // top: 0;
                float: right;
                margin-right: 25px;
                opacity: .5;
                .last_call_img {
                    display: block;
                    width: 45px;
                    height: 45px;
                    background: url("../img/call.png") center center no-repeat;
                    background-size: 100%;
                    content: "";
                }
            }
        }
    }
}

//WINTERKIT SECTION
.winterkit {
    background-image: url("../img/Bg.png");
    display: block;
    background-position: center;
    .winterkit__text {
        text-align: left;
        margin-top: 28%;
        padding-right: 15px;
        .winterkit__title {
            font-size: 35px;
            color: $primary-color;
            font-family: "Harmonia Sans Pro Cyr";
            font-weight: 800;
        }
        .winterkit__sale {
            font-size: 15px;
            font-weight: 800;
            color: #3c4751;
        }
        .winterkit__exmp {
            font-size: 16px;
            color: #495662;
        }
        .winterkit__price__list {
            padding-top: 30px;
            li {
                display: inline-block;
                padding-right: 15px;
                font-weight: 600;
                a {
                    color: #3c4751;
                }
                .active {
                    color: $primary-color;
                }
            }
        }
    }
    .winterkit__rightpic {
        max-width: 100%;
        max-height: 100%;
    }
}

//ARRIVALS SECTION
.arrivals {
    background-image: url("../img/Main BG.png");
    .arrivals__card {
        margin-top: 15px;
        height: 350px;
        background-color: #ffffff;
        text-align: center;
        .card__sizes {
            display: none;
            font-size: 14px;
            color: #34404b;
        }
        .card__colors__list {
            li {
                display: inline-block;
            }
            .card__colors {
                display: none;
                width: 13px;
                height: 13px;
                border-radius: 7px;
            }
        }
        .card__hr {
            display: none;
            width: 169px;
            height: 1px;
            background-color: #f2f4f7;
            margin-left: 50px;
        }
        .card__img {
            padding-top: 20px;
            padding-bottom: 20px;
            max-width: 150px;
            max-height: 226px;
            cursor: pointer;
            margin-left: 50px;
        }
        .card__name {
            font-size: 18px;
            color: #34404b;
            font-family: "Harmonia Sans Pro Cyr";
            font-weight: bold;
            cursor: pointer;
        }
        .card__summa {
            font-size: 18px;
            color: #ff5912;
            font-family: "Harmonia Sans Pro Cyr";
            font-weight: bold;
        }
        .card__active__list {
            display: none;
        }
    }
    .arrivals__card__active {
        .card__img {
            padding-top: 20px;
            max-width: 80px;
            max-height: 100px;
            margin-left: 38%;
        }
        .card__name {
            color: $primary-color;
            padding-bottom: 15px;
        }
        .card__sizes {
            display: block;
        }
        .card__colors__list {
            padding-bottom: 20px;
            padding-top: 20px;
            .card__colors {
                display: block;
            }
        }
        .card__hr {
            display: block;
        }
        .card__summa {
            display: none;
        }
        .card__active__list {
            padding-top: 50px;
            display: block;
            li {
                display: inline-block;
                padding-left: 10px;
                a {
                    color: #34404b;
                }
            }
            .like {
                i {
                    color: red;
                }
            }
        }
    }
    .arrivals__dots {
        margin-top: 45px; // width: 1170px;
        height: 60px;
        background-color: #ffffff;
        text-align: center;
        padding-top: 15px;
        .arrivals_dot {
            border: 0;
            margin: 0;
            padding: 0;
            padding-right: 5px;
            background: transparent;
            span {
                width: 8px;
                height: 8px;
                background-color: #ff5912;
                display: inline-block;
                border-radius: 8px;
            }
        }
    }
}

//SALE SECTION
.sale {
    padding-top: 60px;
    background-image: url("../img/Main BG.png");
    .sale__boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        position: relative;
        .sale__left {
            width: 54%;
            margin-right: 39px;
            .saleimg {
                position: relative;
                max-width: 80px;
                max-height: 80px;
                padding: 5px;
                margin-left: 30px;
            }
            .onimg {
                position: absolute;
                left: 70px;
                bottom: 0px;
                font-weight: bold;
                color: #ffffff;
                text-align: center;
                .saletex {
                    font-size: 9px;
                    margin-bottom: 0px;
                }
                .saleperc {
                    text-align: right;
                    font-size: 15px;
                    margin-bottom: 20px;
                }
            }
            .sale__left__text {
                font-size: 18px;
                margin-top: 15px;
                font-weight: bold;
                color: #34404b;
            }
            .sale__left__packets {
                font-size: 12px;
                color: #34404b;
            }
            .sale__left__price {
                display: inline-block;
                margin-top: 15px;
                color: $primary-color;
                margin-left: 15px;
                font-weight: bold;
                font-size: 30px;
                span {
                    font-size: 14px;
                }
            }
        }
        .sale__right {
            width: 41%;
            padding-right: 0;
            text-align: center;
            .sale__right__img {
                margin-top: 15px;
            }
            .sale__right__x {
                font-size: 12px;
                letter-spacing: 7px;
                color: #5d6266;
                padding-top: 15px;
            }
        }
    }
}

//BEST SECTION
.best {
    background-image: url("../img/Main BG.png");
    padding-bottom: 40px;
    .best__img {
        padding: 15px;
    }
    .best__title {
        display: inline-block;
        font-size: 18px;
        color: #34404b;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
    }
    .diw {
        margin-bottom: 25px;
        .raintg__list {
            font-size: 11px;
            padding-left: 20px;
            margin-top: 15px;
            display: inline-block;
            li {
                display: inline-block;
            }
            .active {
                i {
                    content: "\f005";
                    color: $primary-color;
                }
            }
        }
        .best__price {
            display: inline-block;
            padding-left: 40px;
            font-size: 16px;
            color: #ff5912;
            font-weight: bold;
        }
        .best__tocard {
            display: none;
        }
    }
    .diw__active {
        .raintg__list {
            display: none;
        }
        .best__price {
            display: none;
        }
        .best__tocard {
            display: block;
            color: $primary-color;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }
    }
}

.letter {
    padding-top: 40px;
    padding-bottom: 52px;
    background-image: url("../img/Main BG.png");
    .letter__list {
        padding-bottom: 25px;
        padding-top: 25px;
        li {
            display: inline-block;
            .new__letter {
                font-size: 18px;
                color: #ff5912;
                font-weight: bold;
                padding-top: 25px;
            }
            .join__letter {
                font-size: 14px;
                color: #34404b;
                margin-left: 15px;
                font-style: italic;
                ;
            }
        }
    }
    .input {
        font-size: 17px;
        color: #7c8791;
        font-style: italic;
        display: inline-block;
        border: none;
        padding: 24px;
    }
    button {
        margin-top: 20px;
        width: 100px;
        height: 50px;
        background-color: #ff5912;
        border: none;
        color: white;
    }
}

.my__footer {
    padding-top: 40px;
    .copy {
        font-size: 14px;
        line-height: 30px;
        color: #28313b;
        text-align: left;
    }
    .paymants {
        font-size: 16px;
        line-height: 30px;
        color: #ff5912;
    }
    ul {
        list-style-type: circle;
        li {
            a {
                color: #495662;
            }
        }
    }
}

//MEDIA QUERIES
@media (max-width: 575.98px) {
    .page__title {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .my__navigator {
        padding-bottom: 0px !important;
        .nav__first__row {
            .nav__social__list {
                display: none;
            }
        }
        .nav__second__row {
            .mylogo {}
            .mobile__icon--bars__div {
                display: block;
            }
            .menu__list {
                li {
                    a {
                        font-size: 16px;
                        padding-right: 27px;
                        color: #b8bcc0;
                        font-family: "Harmonia Sans Pro Cyr";
                    }
                }
                .active {
                    a {
                        color: $primary-color;
                    }
                }
            }
            .serach__list {
                font-size: 18px;
                li {
                    a {
                        position: relative;
                        color: #b8bcc0;
                        .shop__bucket {}
                        .shop__bucket__number {
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            border-radius: 9px;
                            background-color: #34404b;
                            top: -6px;
                            left: 8px;
                            display: block;
                            color: #ffffff;
                            text-align: center;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .winterkit {
        .winterkit__text {
            margin-top: 5%;
            text-align: center;
        }
        .winterkit__rightpic {
            display: none;
        }
    }
    .arrivals {
        .arrivals__card {
            .card__img {
                margin-left: 30%;
            }
        }
        .arrivals__card__active {
            .card__img {
                margin-left: 38%;
            }
        }
    }
    .sale {
        .sale__boxes {
            .sale__left {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
                .saleimg {
                    max-width: 75px;
                    max-height: 75px;
                    margin-left: 0;
                }
                .onimg {
                    left: 35%;
                    bottom: 5%;
                    .saletex {
                        font-size: 9px;
                        margin-bottom: 0px;
                    }
                    .sale__shop__icon {
                        font-size: 12px;
                    }
                    .saleperc {
                        font-size: 16px;
                    }
                }
                .sale__left__text {
                    font-size: 16px;
                }
                .sale__left__packets {
                    font-size: 12px;
                    color: #34404b;
                }
                .sale__shop__icon {
                    font-size: 14px;
                }
                .sale__left__price {
                    font-size: 18px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .sale__right {
                width: 100%;
            }
        }
    }
    .best {
        .diw {
            text-align: center;
            .best__title {
                display: block;
            }
        }
    }
    .letter{
        .letter__list {
          
            li {
               
                
                .join__letter {
                   
                    margin-left: 0px;
                    
                    
                }
            }
        }
        i{
            margin-left: 26px;
        }
        .input{
            padding: 10px;
            font-size: 14px;

        }
        button{
            width: 68px;
            height: 50px;
            margin-top: 0;
        }
    }
    .my__footer {
        .copy {
            font-size: 20px;
            font-style: italic;
            color: #7c8791;
        }
        ul {
            display: none;
        }
        .mobile {
            display: none;
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .page__title {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .my__navigator {
        padding-bottom: 0px !important;
        .nav__first__row {
            .nav__social__list {
                display: none;
            }
        }
        .nav__second__row {
            .mylogo {}
            .mobile__icon--bars__div {
                display: block;
            }
            .menu__list {
                li {
                    a {
                        font-size: 16px;
                        padding-right: 27px;
                        color: #b8bcc0;
                        font-family: "Harmonia Sans Pro Cyr";
                    }
                }
                .active {
                    a {
                        color: $primary-color;
                    }
                }
            }
            .serach__list {
                font-size: 18px;
                li {
                    a {
                        position: relative;
                        color: #b8bcc0;
                        .shop__bucket {}
                        .shop__bucket__number {
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            border-radius: 9px;
                            background-color: #34404b;
                            top: -6px;
                            left: 8px;
                            display: block;
                            color: #ffffff;
                            text-align: center;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .winterkit {
        .winterkit__text {
            margin-top: 5%;
            text-align: center;
        }
        .winterkit__rightpic {
            display: none;
        }
    }
    .arrivals {
        .arrivals__card {
            .card__img {
                margin-left: 35%;
            }
        }
        .arrivals__card__active {
            .card__img {
                margin-left: 38%;
            }
        }
    }
    .sale {
        .sale__boxes {
            .sale__left {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
                .saleimg {
                    max-width: 75px;
                    max-height: 75px;
                    margin-left: 0;
                }
                .onimg {
                    left: 35%;
                    bottom: 5%;
                    .saletex {
                        font-size: 9px;
                        margin-bottom: 0px;
                    }
                    .sale__shop__icon {
                        font-size: 12px;
                    }
                    .saleperc {
                        font-size: 16px;
                    }
                }
                .sale__left__text {
                    font-size: 16px;
                }
                .sale__left__packets {
                    font-size: 12px;
                    color: #34404b;
                }
                .sale__shop__icon {
                    font-size: 14px;
                }
                .sale__left__price {
                    font-size: 18px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .sale__right {
                width: 100%;
            }
        }
    }
    .best {
        .diw {
            text-align: center;
            .best__title {
                display: block;
            }
        }
    }
    .my__footer {
        .copy {
            font-size: 20px;
            font-style: italic;
            color: #7c8791;
        }
        ul {
            display: none;
        }
        .mobile {
            display: none;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .page__title {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    .my__navigator {
        padding-bottom: 0px !important;
        .nav__first__row {
            .nav__social__list {
                display: none;
            }
        }
        .nav__second__row {
            .mylogo {}
            .mobile__icon--bars__div {
                display: block;
                right: -516%;
            }
            .menu__list {
                li {
                    a {
                        font-size: 16px;
                        padding-right: 27px;
                        color: #b8bcc0;
                        font-family: "Harmonia Sans Pro Cyr";
                    }
                }
                .active {
                    a {
                        color: $primary-color;
                    }
                }
            }
            .serach__list {
                font-size: 18px;
                li {
                    a {
                        position: relative;
                        color: #b8bcc0;
                        .shop__bucket {}
                        .shop__bucket__number {
                            position: absolute;
                            width: 18px;
                            height: 18px;
                            border-radius: 9px;
                            background-color: #34404b;
                            top: -6px;
                            left: 8px;
                            display: block;
                            color: #ffffff;
                            text-align: center;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .winterkit {
        .winterkit__text {
            margin-top: 5%;
            text-align: center;
        }
        .winterkit__rightpic {
            // display: none;
        }
    }
    .arrivals {
        .arrivals__card {
            .card__img {
                margin-left: 0px;
            }
        }
        .arrivals__card__active {
            .card__img {
                margin-left: 38%;
            }
        }
    }
    .sale {
        .sale__boxes {
            .sale__left {
                width: 100%;
                margin-right: 0;
                margin-bottom: 15px;
                .saleimg {
                    max-width: 75px;
                    max-height: 75px;
                    margin-left: 0;
                }
                .onimg {
                    left: 35%;
                    bottom: 5%;
                    .saletex {
                        font-size: 9px;
                        margin-bottom: 0px;
                    }
                    .sale__shop__icon {
                        font-size: 12px;
                    }
                    .saleperc {
                        font-size: 16px;
                    }
                }
                .sale__left__text {
                    font-size: 16px;
                }
                .sale__left__packets {
                    font-size: 12px;
                    color: #34404b;
                }
                .sale__shop__icon {
                    font-size: 14px;
                }
                .sale__left__price {
                    font-size: 18px;
                    span {
                        font-size: 14px;
                    }
                }
            }
            .sale__right {
                width: 100%;
            }
        }
    }
    .best {
        .diw {
            text-align: center;
            .best__img {
                max-width: 110px;
            }
            .best__title {
                display: block;
            }
            .best__tocard {
                padding-bottom: 3px;
                margin-top: 43px;
            }
        }
    }
    .letter {
        .letter__list {
            li {
                .join__letter {
                    margin-left: 0;
                }
            }
        }
        .input {
            padding: 5px;
            margin-top: 35px;
        }
    }
    .my__footer {
        .copy {
            font-size: 20px;
            font-style: italic;
            color: #7c8791;
            display: none;
        }
        ul {
            display: none;
        }
        .mobile {
            display: none;
        }
    }
}

// @media (min-width: 992px) and (max-width: 1199.98px) {}
// @media (min-width: 2560px) {}